<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js">
    </script>
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>

<div class="table-responsive">      
  <table id="myTable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Words</th>
        <th>Region</th>
        <th>Castle</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for house in all_houses %}
      <tr>
        <td>{{ house.name }}</td>
        <td>{{ house.words }}</td>
        <td>{{ house.region_name }}</td>
        <td>{{ house.castle_name }}</td>
        <td>{{ house.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
